name: Build

on:
  push:
    branches: ['**']
    tags-ignore: ['**']
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
        - tag: nifty_pascal-linux
          user: ci
        - tag: nifty_pascal-dev
          user: vscode

    steps:
    - uses: actions/checkout@v5
    - uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be
    - uses: docker/setup-buildx-action@v3

    - name: Build Docker Image
      uses: docker/build-push-action@v6
      with:
        build-args: |
          USER=${{ matrix.user }}
        cache-from: type=gha,scope=${{ matrix.tag }}
        cache-to: type=gha,ignore-error=true,mode=max,scope=${{ matrix.tag }}
        context: nifty_pascal-linux
        load: true
        tags: ${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:${{ matrix.tag }}
        target: deploy

    - name: Login to Docker Hub
      if: github.event_name == 'release' || startsWith(github.ref_name, 'push/')
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME || '76eddge' }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Setup Docker Push Vars
      id: vars
      if: github.event_name == 'release' || startsWith(github.ref_name, 'push/')
      run: |
        if [ '${{ github.event_name }}' == 'release' ]; then
          git_tag=${{ github.event.release.tag_name }}
          export id=${git_tag#v}
        else
          branch=${{ github.ref_name }}
          export id=${branch:5}
        fi
        echo "::set-output name=id::$id"

    - name: Push Docker Image
      if: github.event_name == 'release' || startsWith(github.ref_name, 'push/')
      uses: docker/build-push-action@v6
      with:
        build-args: |
          USER=${{ matrix.user }}
        cache-from: type=gha,scope=${{ matrix.tag }}
        cache-to: type=gha,ignore-error=true,mode=max,scope=${{ matrix.tag }}
        context: nifty_pascal-linux
        push: true
        provenance: mode=max
        sbom: true
        tags: ${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:${{ matrix.tag }}-${{ steps.vars.outputs.id }}
        target: deploy

    - name: Run Grype Scan
      if: github.event_name != 'release'
      run: docker run --rm -v /var/run/docker.sock:/var/run/docker.sock anchore/grype -o sarif docker:${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:${{ matrix.tag }} > ${{ matrix.tag }}.sarif

    - name: Upload Grype Scan Results
      if: github.event_name != 'release'
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: ${{ matrix.tag }}.sarif
        category: ${{ matrix.tag }}

  build-windows:
    runs-on: windows-2019

    if: false
    steps:
    - uses: actions/checkout@v5

    - name: Build Docker Image
      run: |
        net stop docker
        dockerd --unregister-service
        dockerd --register-service --storage-opt "size=60G"
        net start docker
        cp nifty_pascal-linux/build.gradle nifty_pascal-windows/
        docker build nifty_pascal-windows --tag ${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:nifty_pascal-windows

    - name: Push Release Docker Image
      if: github.event_name == 'release'
      run: |
        echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login --username ${{ vars.DOCKERHUB_USERNAME || '76eddge' }} --password-stdin
        docker tag ${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:nifty_pascal-windows "${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:nifty_pascal-windows-$('${{ github.event.release.tag_name }}' -replace '^v', '')"
        docker push -a ${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images

    - name: Push Docker Image
      if: github.event_name != 'release' && startsWith(github.ref_name, 'push/')
      run: |
        $branch = "${{ github.ref_name }}"
        echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login --username ${{ vars.DOCKERHUB_USERNAME || '76eddge' }} --password-stdin
        docker tag ${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:nifty_pascal-windows "${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:nifty_pascal-windows-$($branch.Substring(5))"
        docker push "${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:nifty_pascal-windows-$($branch.Substring(5))"

    - name: Run Grype Scan
      if: github.event_name != 'release'
      run: |
        choco install grype
        grype --platform 'windows/amd64' -o sarif '${{ vars.DOCKERHUB_USERNAME || '76eddge' }}/build-images:nifty_pascal-windows' | Out-File nifty_pascal-windows.sarif utf8

    - name: Upload Grype Scan Results
      if: github.event_name != 'release'
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: nifty_pascal-windows.sarif
        category: nifty_pascal-windows
